---
- name: Install Zenroom components
  hosts: all
  tags: packages
  tasks:
    - name: Install unzip
      apt:
        name: unzip

#    - name: Download ZIP of Zenroom ARM binaries
#   ansible.builtin.get_url:
#        url: "https://github.com/dyne/Zenroom/releases/latest/download/zenroom-arm_64-linux.zip"
#        dest: /home/root
#      when:
#        - ansible_distribution == "Devuan"
#        - ansible_distribution_release == "daedalus"

    - name: Download & extract ARM binaries from ZIP file
      ansible.builtin.unarchive:
        src: "https://github.com/dyne/Zenroom/releases/latest/download/zenroom-arm_64-linux.zip"
        dest: "/root"
        remote_src: yes
      when:
        - ansible_architecture == "aarch64"
        - ansible_distribution == "Devuan"
        - ansible_distribution_release == "daedalus"

    - name: Install ARM zenroom binaries
      ansible.builtin.copy:
        src: "/root/zenroom-arm_64-linux/zenroom"
        dest: "/usr/local/bin"
        remote_src: yes
        mode: u+rwx,go+rx
      when:
        - ansible_architecture == "aarch64"
        - ansible_distribution == "Devuan"
        - ansible_distribution_release == "daedalus"

    - name: Install ARM zenroom binaries
      ansible.builtin.copy:
        src: "/root/zenroom-arm_64-linux/zencode-exec"
        dest: "/usr/local/bin"
        remote_src: yes
        mode: u+rwx,go+rx
      when:
        - ansible_architecture == "aarch64"
        - ansible_distribution == "Devuan"
        - ansible_distribution_release == "daedalus"

    - name: Download zenroom AMD binary
      ansible.builtin.get_url:
        url: "https://github.com/dyne/Zenroom/releases/latest/download/zenroom"
        dest: /usr/local/bin
        mode: u+rwx,go+rx
      when:
        - ansible_architecture == "x86_64"

    - name: Download zencode-exec AMD binary
      ansible.builtin.get_url:
        url: "https://github.com/dyne/Zenroom/releases/latest/download/zencode-exec"
        dest: /usr/local/bin
        mode: u+rwx,go+rx
      when:
        - ansible_architecture == "x86_64"
#
#   Insert zenroom & zencode-exec into cloned copy of LAUDS repo to be picked up by Dockerfiles
#
    - name: Create a zenroom directory for jupyter dockerfile if it does not exist
      ansible.builtin.file:
        path: /home/devuan/src/lauds-iot-backend/software/jupyter/zenroom
        state: directory
        owner: devuan
        group: devuan

    - name: Copy zenroom into cloned repo for jupyter
      ansible.builtin.copy:
        src: "/usr/local/bin/zenroom"
        dest: "/home/devuan/src/lauds-iot-backend/software/jupyter/zenroom"
        remote_src: yes
        mode: u+rwx,go+rx

    - name: Copy zencode-exce into cloned repo
      ansible.builtin.copy:
        src: "/usr/local/bin/zencode-exec"
        dest: "/home/devuan/src/lauds-iot-backend/software/jupyter/zenroom"
        remote_src: yes
        mode: u+rwx,go+rx

    - name: Create a zenroom directory for server (InterfacerNotebook) if it does not exist
      ansible.builtin.file:
        path: /home/devuan/src/lauds-iot-backend/software/server/zenroom
        state: directory
        owner: devuan
        group: devuan

    - name: Copy zenroom into cloned repo for server (InterfacerNotebook)
      ansible.builtin.copy:
        src: "/usr/local/bin/zenroom"
        dest: "/home/devuan/src/lauds-iot-backend/software/server/zenroom"
        remote_src: yes
        mode: u+rwx,go+rx

    - name: Copy zencode-exce into cloned repo for server (InterfacerNotebook)
      ansible.builtin.copy:
        src: "/usr/local/bin/zencode-exec"
        dest: "/home/devuan/src/lauds-iot-backend/software/server/zenroom"
        remote_src: yes
        mode: u+rwx,go+rx
